h1 {
    display: flex;
    justify-content: center;
} 

.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

* {
    box-sizing: border-box;
}

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

input {
    width: 520px;
    height: 50px;
    padding-left: 15px;

    color: #524f4e;
    border-radius: 5px;
    border: 3px solid #cccac9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

input:focus {
    font-size: 30px;
    outline: none;
    border-color: #502ee5;
    box-shadow: 0 15px 20px rgba(25, 8, 175, 0.4);
}

.gallery {
    display: grid;
    max-width: 1140px;
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.photo-card {
    position: relative;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.info {
    padding: 8px;
    backdrop-filter: blur(3px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.photo-card:hover .info {
    display: block;
    display: flex;
    gap: 15px;
}

img:hover {
    transform: scale(1.03);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {
    cursor: zoom-in;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 240px;
    height: 75px;
    line-height: 45px;
    border-radius: 5px;
    border: #502ee5;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

    transition: transform var(--animation-duration) var(--timing-function);
    transition: color, background var(--animation-duration) var(--timing-function);
}

.floating-button:hover {
    background: #502ee5;
    box-shadow: 0 15px 20px rgba(25, 8, 175, 0.4);
    color: white;
    transform: scale(1.03);
}

.load-more {
    display: none;
    margin: 0 auto;
}